*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/** header **/

.header-row{
    min-height: 70px;
    position: fixed;
    width: 100%;
    z-index: 999;
    justify-content: space-between;
}

#jumboimg{
    width:100%;
}

/** Main: **/

.panel-container{
    margin: auto;
    width: 60%;
    height: 100%;
}

.border{
    border: 2px solid lightgrey;
}

.border-black{
    border: 1px solid black;
}

.prova-gratis{
    text-decoration: none;
}

.plan-container{
    height:550px;
}

.plan-hr{
    border: 1px solid lightgrey;
    width: 20%;
    margin-left: 30px; 
}

.second-plan-container{
    height:500px;
}

.plan-text{
    height: 100%;
}

.enterprise-col{
    width: 100%;
    min-height: 300px;
}

.team-row{
    justify-content: center;
}

.partner-img{
    width:100%;
}

.imgbox{
    width:30vh;
}

.imgbox img{
    width:30vh;
}

.img-logo{
    filter: invert(100%);
}

.cube{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-hr{
    border: 1px solid rgb(133, 132, 132);
    width: 10%;
}