/** UTILITIES **/

/** Background color **/

.bg-orange{
    background-color: rgba(255,105,0,255);
}

.bg-black{
    background-color: black;
}

.bg-lightblack{
    background-color: rgba(34,34,34,255);
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: rgb(85, 84, 84);
}

.bg-grey-tran{
    background-color: rgba(85, 84, 84, 0.548);
}

.bg-blue{
    background-color:blue;
}

.bg-lightblue{
    background-color: #0061ff;
}

.bg-lightblue2{
    background-color: #b4d0e7;
}

.bg-lilac{
    background-color:rgb(205, 150, 221);
}



/** Font color **/

.c-white{
    color: white;
}

.c-red{
    color: red;
}

.c-black{
    color: black;
}

.c-lightgreen{
    color: rgb(32, 165, 32);
}


/** Margin **/

.margin-auto{
    margin: auto;
}

.margin-r4{
    margin-right: 4px;
}

.margin-r6{
    margin-right: 6px;
}

.margin-r9{
    margin-right: 9px;
}

.margin-r10{
    margin-right: 10px;
}

.margin-r15{
    margin-right: 15px;
}

.margin-r20{
    margin-right: 20px;
}



.margin-l6{
    margin-left: 6px;
}

.margin-l10{
    margin-left: 10px;
}

.margin-l20{
    margin-left: 20px;
}

.margin-t3{
    margin-top: 3px;
}

.margin-t8{
    margin-top: 8px;
}

.margin-t10{
    margin-top: 10px;
}

.margin-t20{
    margin-top: 20px;
}

.margin-t25{
    margin-top: 25px;
}

.margin-t30{
    margin-top: 30px;
}

.margin-t40{
    margin-top: 40px;
}

.margin-t80{
    margin-top: 80px;
}

.margin-t100{
    margin-top: 100px;
}

.margin-t120{
    margin-top: 120px;
}

.margin-t150{
    margin-top: 150px;
}

.margin-t170{
    margin-top: 170px;
}

.margin-t180{
    margin-top: 180px;
}

.margin-b30{
    margin-bottom: 30px;
}

/** Font size **/

.f-size10{
    font-size: 10px;
}

.f-size12{
    font-size: 12px;
}

.f-size15{
    font-size: 15px;
}

.f-size14{
    font-size: 14px;
}

.f-size13{
    font-size: 13px;
}

.f-size20{
    font-size: 20px;
}

.f-size30{
    font-size: 30px;
}    

.f-size40{
    font-size: 40px;
}

.f-size60{
    font-size: 60px;
}

.f-size63{
    font-size: 63px;
}

/**Font Weight**/

.f-weight700{
    font-weight: 700;
}

.f-weight900{
    font-weight:900;
}


/**Width**/

.w-20per{
    width: 20%;
}


.w-33per{
    width: 33%;
}

.w-40per{
    width: 40%;
}

.w-fit-content{
    width: fit-content;
}

.w-700{
    min-height: 700px;
}

/**Height**/

.height-700{
    height: 700px;
}

.height-40vh{
    height: 40vh;
}

.height-45vh{
    height: 45vh;
}

.height-60vh{
    height: 60vh;
}

.height-70vh{
    height: 70vh;
}

.height-75vh{
    height: 75vh;
}

.height-80vh{
    height: 80vh;
}

.height-90vh{
    height: 90vh;
}

.height-100vh{
    height: 100vh;
}

.height-110vh{
    height: 110vh;
}

.height-115vh{
    height: 115vh;
}

.height-120vh{
    height: 120vh;
}


.height-150vh{
    height: 150vh;
}

.height-200vh{
    height: 200vh;
}

/**Padding**/

.padding5-8{
    padding:5px 8px;
}

.padding7{
    padding:7px;
}

.padding10{
    padding:10px;
}

.padding30{
    padding:30px;
}


.padding50{
    padding:50px;
}


.padding60{
    padding:60px;
}

.padding200{
    padding:200px;
}



/**Border Radius**/

.bor-radius20{
    border-radius: 20px;
}

.bor-radius10{
    border-radius: 10px;
}

.bor-radius5{
    border-radius: 5px;
}


/**Row and Column**/

.row{
    display: flex;
}

.align-center{
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
}